{% extends "layout.njk" %}

{% block content %}

    <div class="melhores-receitas">
        <h1>As melhores receitas</h1>
        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        <img src="assets\chef.png" alt="img-chef">
    </div>

    <div class="mais-acessadas">
        <p>Mais acessadas</p>
    </div>

    <section class="cards-receitas">
        {% for recipes in recipes %}
            <div class="card">
                <div class="card_imagem-receita">
                    <img src="{{recipes.image}}" alt="{{recipes.title}}">
                </div>
                <div class="card_titulo-receita">
                    <p>{{recipes.title}}</p>
                </div>
                <div class="card_autor-receita">
                    <p>{{recipes.author}}</p>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}