{% extends "layout.njk" %}

{% block content %}
    <section class="rec">
        <div class="card">
            <div class="card-imagem-receita">
                <img src="{{recipes.image}}" alt="{{recipes.title}}">
            </div>
            <div class="card-titulo-receita">
                <p>{{recipes.title}}</p>
            </div>
            <div class="card-autor-receita">
                <p>{{recipes.author}}</p>
            </div>
        </div>
    </section>

{% endblock %}