@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

:root{
    --default-color: #111111;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    bottom: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background: white;    
}
.wrap{
    width: 67.1%;
    min-height: calc(100vh - 70px);
    margin-left: 16.45%;
    margin-bottom: 50px;
}

/*======== HEADER ========*/
header {
    width: 100%;
    height: 93px;
    box-sizing: border-box;
}
header > .header {
    position: relative;
    
}
header > .header > .logo{
    width: 6.5%;
    height: 2.4%;
    float: left;
    margin-top: 36px;
    margin-bottom: 30px;
}
header > .header > .menu{  
    float: left;  
    margin-top: 38px;
    margin-left: 122px;
}
header > .header > .menu > ul {
    list-style: none;
}
header > .header > .menu > ul > li{
    display: inline;
    padding: 15px;
}
header > .header > .menu > ul > li > a{
    text-decoration: none;
    color: var(--default-color);
}

/*======== AS MELHORES RECEITAS ========*/
.wrap > .the-best-recipes{
    position: relative;
    background-color: #FBDFDB;
    width: 100%;
    height: 366px;
    border-radius: 30px;
}
.wrap > .the-best-recipes > img {
    position: absolute;
    bottom: 0;
    left: 61%;
}
.wrap > .the-best-recipes > h1{
    position: absolute;
    top: 117px;
    left: 60px;
    width: 316px;
    height: 38px;
    font-size: 32px;
    line-height: 38px;
    font-weight: bold;
}
.wrap > .the-best-recipes > p{
    position: absolute;
    top: 165px;
    left: 60px;
    color: var(--default-color);
    opacity: 70%;
    width: 316px;
    height: 84px;
    font-size: 18px;
    line-height: 28px;
}

/*======== MAIS ACESSADAS ========*/
.wrap > .most-accessed{
    margin-top: 4.5%;
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
}

/*======== CARDS/RECIPES ========*/
.wrap > .cards-recipes{
    width: 100%;
    margin-top: 1.8%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 20px;
}
.wrap > .cards-recipes > .card > .card-image-recipe > img {
    width: 100%;
    height: 140px;
    border-radius: 15px;
}
.wrap > .cards-recipes > .card > .card-title-recipe{
    font-size: 18px;
    color: var(--default-color);
    margin:20px 0 5px 0;
}
.wrap > .cards-recipes > .card > .card-author-recipe{
    font-size: 14px;
    color: #777777;
}

/*======== SOBRE ========*/
.wrap > .about-foodfy {
    margin-top: 4px;
}
.wrap > .about-foodfy > .about-foodfy-title{
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--default-color);
}
.wrap .about-begin > .how-started{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--default-color);
}
.wrap > .about-recipes > .our-recipes{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--default-color);
}
 .paragraph{
    padding: 0 0 25px 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    color: #444444;
}

/*======== RECIPE ========*/
.wrap > .recipe-image > img{
    width: 100%;
    height: 280px;
    border-radius: 15px;
}
.wrap > .recipe-title{
    margin-top: 50px;
    margin-left: 50vh;
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
}
.wrap > .recipe-author{
    color: #777777 ;
    font-size: 20px;
    line-height: 24px;
    margin-left: 60vh;
}

/*======== INGREDIENTES ========*/
.wrap > .ingredients-title{
    margin-top: 50px;
    line-height: 34px;
}
.wrap > .ingredients-title > ul {
    list-style: none;
}
.wrap > .ingredients-title > ul > li{
    display: inline;
}
.wrap > .ingredients-title > ul > li.title{
    font-size: 24px;
    font-weight: bold;
    margin-right: 8px;
}
.wrap ul > li.show-hide{
    font-size: 12px;
    font-weight: bold;
    color: #999999;
    cursor: pointer;
}
.wrap > .ingredients{
    margin-top: 20px;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

/*======== PREPARAÇÃO ========*/
.wrap > .preparation-title{
    margin-top: 39px;
}
.wrap > .preparation-title > ul {
    list-style: none;
}
.wrap > .preparation-title > ul > li{
    display: inline;
}
.wrap > .preparation-title > ul > li.title{
    font-size: 24px;
    font-weight: bold;
    margin-right: 8px;
}
.wrap > .preparation{
    margin-top: 20px;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

/*======== INFORMAÇÕES ========*/
.wrap > .information-title{
    margin-top: 47px;
}
.wrap > .information-title > ul {
    list-style: none;
}
.wrap > .information-title > ul > li{
    display: inline;
}
.wrap > .information-title > ul > li.title{
    font-size: 24px;
    font-weight: bold;
    margin-right: 8px;
}
.wrap > .information{
    margin-top: 20px;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

/*======== HIDDEN ========*/
.hidden{
    display: none;
}

/*======== FOOTER ========*/
footer{
    width: 100%;
    height: 70px;
    background-color: #EEEEEE;
    padding: 23px 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
}